/* Estilo para el encabezado */
header {
    display: flex; /* Utiliza flexbox para alinear los elementos en fila */
    align-items: center; /* Centra verticalmente los elementos */
    background: #333;
    color: #fff;
    padding: 10px 20px; /* Ajusta el padding alrededor de los elementos */
}

/* Estilo para los logos en el encabezado */
header .logo-container {
    display: flex;
    align-items: center;
}

header img.logo {
    max-height: 50px; /* Ajusta la altura máxima de la imagen */
    margin-right: 10px; /* Espacio entre los logos y otros elementos */
}
header img.logo-universidad {
    margin-left: -10px; /* Ajusta el valor negativo según lo necesites */
    max-height: 50px;
}

header .vertical-line {
    width: 2px;
    height: 50px; /* La misma altura que los logos */
    background-color: white; /* Línea vertical en blanco */
    margin: 0 10px; /* Espacio alrededor de la línea */
}

/* Estilo para el contenedor de enlaces en el encabezado */
header nav {
    display: flex; /* Utiliza flexbox para alinear los enlaces en fila */
    flex-grow: 1; /* Permite que el contenedor de enlaces se expanda */
    justify-content: flex-end; /* Alinea los enlaces a la derecha */
}

/* Estilo para los enlaces en el encabezado */
header a {
    color: #fff;
    text-decoration: none;
    padding: 0 15px;
}

/* Estilo para los enlaces en el encabezado cuando se pasa el ratón */
header a:hover {
    text-decoration: underline;
}


.custom-gray-button {
  background-color: #e9edf3; /* Color de fondo gris claro */
  color: #000000; /* Texto en negro */
  border: none; /* Sin bordes */
  padding: 10px 28px;
  font-size: 16px;
  border-radius: 8px; /* Bordes redondeados */
  cursor: pointer;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1); /* Sombra ligera */
}

.custom-gray-button:hover {
  background-color: #d8dee6; /* Color más oscuro al hacer hover */
}
