{% load static %}

<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}Mi Sitio{% endblock %}</title>
    <link rel="stylesheet" type="text/css" href="{% static 'styles.css' %}">
    {% load static %}
</head>
<body>
    <header>
        <img src="{% static 'images/logo_eafit.png' %}" alt="Descripción de la imagen" class="logo">
        <nav>
            <a href="/">Inicio</a>
            <a href="/profesores/">Profesores</a>
            {% if user.is_authenticated %}
                <a href="{% url 'logout' %}">Cerrar sesión</a>
            {% else %}
                <a href="{% url 'login' %}">Iniciar sesión</a>
            {% endif %}
        </nav>
    </header>

    <main>
        {% block content %}
        <!-- Contenido de la página -->
        {% endblock %}
    </main>

    <footer>
        &copy; {{ current_year }} Mi Sitio. Todos los derechos reservados.
    </footer>
</body>
</html>
