{% load static %}

<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}Mi Sitio{% endblock %}</title>
    <link rel="stylesheet" type="text/css" href="{% static 'styles.css' %}">
    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-beta.1/dist/css/select2.min.css" rel="stylesheet" />
    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-beta.1/dist/js/select2.min.js"></script>
    <style>
        body {
            font-family: Arial, sans-serif;
        }
    </style>
</head>

<body>
    <header>
        <div class="logo-container">
            <!-- Logo de Profepulse -->
            <img src="{% static 'images/logo_profepulse.png' %}" alt="Logo Profepulse" class="logo">
    
            <!-- Línea vertical -->
            <span class="vertical-line"></span>
    
            <!-- Logo de la Universidad -->
            <img src="{% static 'images/logo_eafit_completo.png' %}" alt="Logo Universidad" class="logo-universidad">
        </div>
    
        <!-- Navegación -->
        <nav>
            <a href="/">Inicio</a>
            <a href="{% url 'lista_profesores' %}">Profesores</a>
            {% if user.is_authenticated %}
                <a href="{% url 'user_profile' user.id %}">Cuenta</a>
                <form action="{% url 'logout' %}" method="post" style="display:inline;">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-link" style="text-decoration: none; color: white; padding: 0; border: none; background: none;">
                        Cerrar sesión
                    </button>
                </form>
            {% else %}
                <a href="{% url 'login' %}">Iniciar sesión</a>
            {% endif %}
        </nav>
    </header>

    <main>
        {% block content %}
        <!-- Contenido de la página -->
        {% endblock %}
    </main>
</body>
</html>
